form{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border: 1px solid gray;
    align-items: center;
    padding: 10px 0 10px 7px;
    gap: 5px;
}
.labels{
    font-weight: 600;
}

/* name */
.name, .email, .password{
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
}

input[type='text'],
input[type='email'],
input[type='password']{
    width: 250px;
    height: 20px;
    outline: none;
    border: 1px solid black;
}

/* date */
.dob{
    display: flex;
    flex-direction: column;
    /* height: 65px; */
    height: auto;
    text-align: left;
    padding-left: 1px;
}
input[type='date']{
    width: 255px;
    height: 22.5px;
    outline: none;
    border: 1px solid black;
}

/* hobbies */
.hobbies{
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: left;
    padding-left: 63px;

}
.check-boxes{
    width: 320px;
    height: 28.8px;
}
input[type='checkbox'] {
    width: 14px;
    height: 14px;
    cursor: pointer;
    
}

/* gender */
.gender{
    width: 260px;
    height: auto;
    text-align: left;
    padding-left: 3px;
}
input[type='radio']{
    cursor: pointer;
}

/* nation */
.nation{
    display: flex;
    flex-direction: column;
    width: 255px;
    height: auto;
}
.nation{
    text-align: left;
}
.nation-select{
    height: 23px;
    outline: none;
    border: 1px solid black;
}

/* buttons */
.buttons-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    margin: 20px;
}
button{
    background-color: lightgray;
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
}

button:hover{
    background: none;
}
button:active{
    opacity: 0.8;
    background-color: lightgray;
}

/* error-message */
.error-message{
    color: red;
    margin: 0;
    padding: 0;
    transition: 0.8s;
    text-align: left;
}
