#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background: #59C173;  
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
}
